<div>
 <div class="divided title">
    <h1 class="ui center aligned dividing block header">Upcoming Hackathons</h1>
  </div>    

<p></p>
<div class="ui three doubling cards special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Apply Now</div>
          </div>
        </div>
      </div>
      <!--img  here -->
    </div>
    <div class="content">
      <a class="header">Galgotia Hackathon</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        600 Participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
          </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Apply Now</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="content">
      <a class="header">ClashHacks 2.3</a>
      <div class="meta">
        <span class="date">Event in june 2017</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        900 participants
      </a>
    </div>
  </div>
</div>

</div>
