<div class="page">
    <div class="divided title">
        Upcoming Hackathons
    </div>
    <div class="ui three doubling cards special cards">
        <div class="card" ng-repeat="event in events">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Apply Now</div>
                        </div>
                    </div>
                </div>
                <!--img  here -->
            </div>
            <div class="content">
                <a class="header">{{event.title}}</a>
                <div class="meta">
                    <span class="date">Event in june 2017</span>
                </div>
            </div>
            <div class="extra content">
                <a>
        <i class="users icon"></i>
        600 Participants
      </a>
            </div>
        </div>
    </div>
</div>