<div class="page">
    <div class="divided title">
        Upcoming Hackathons
    </div>
    <div class="ui event modal">
        <i class="close icon"></i>
        <div class="header">
            {{selectedEvent.title}}
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="https://scontent.fdel5-1.fna.fbcdn.net/v/t31.0-8/19467970_463868020615217_4482543735561816372_o.png?oh=956cfd4f53c3f32c9a2f0439ad95ad5d&oe=59EFC0AA">
            </div>
            <div class="description">
                <i class="marker icon"></i> New Delhi, India
                <br>
                <i class="wait icon"></i> 2nd Jan, 12:00 - 4th Jan, 2:00
                <br> 
                <br> 
                {{selectedEvent.description}}
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive button">
                Apply
            </div>
        </div>
    </div>
    <div class="ui stackable doubling two cards" >
        <div class="card" ng-repeat="event in events">
            <div class="content">
                <img class="right floated small ui image" src="https://scontent.fdel5-1.fna.fbcdn.net/v/t31.0-8/19467970_463868020615217_4482543735561816372_o.png?oh=956cfd4f53c3f32c9a2f0439ad95ad5d&oe=59EFC0AA">
                <div class="header">
                    {{event.title}}
                </div>
                <div class="meta">
                    <i class="marker icon"></i> New Delhi, India
                    <br>
                    <i class="wait icon"></i> 2nd Jan, 12:00 - 4th Jan, 2:00
                    <br>
                </div>
                <div class="description">
                    {{event.description}}
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">Apply</div>
                    <a ng-click="selectEvent(event)" class="ui basic blue button">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>