<div class="ui four cards">
    <a ui-sref="add.admin.new" class="teal card">
        <div class="ui centered tiny image">
            <!-- <img src="https://t4.ftcdn.net/jpg/01/26/10/59/240_F_126105961_6vHCTRX2cPOnQTBvx9OSAwRUapYTEmYA.jpg"> -->
        </div>
        <div class="content">
            <div class="header">Create New Event</div>
            <div class="meta">
                <!-- <span class="category">Hackathon</span> -->
            </div>
        </div>
    </a>
    <a class="teal card">
        <div class="image">
            <img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t31.0-8/19467970_463868020615217_4482543735561816372_o.png?oh=fca9c75189687daa3aefe64db9b6de97&oe=59C833AA">
        </div>
        <div class="content">
            <div class="header">ClashHacks 3.0</div>
            <div class="meta">
                <span class="category">Hackathon</span>
            </div>
        </div>
    </a>
    <a class="teal card">
        <div class="image">
            <img src="http://hacksociety.tech/assets/img/events/poster-bharathacks.jpg">
        </div>
        <div class="content">
            <div class="header">BharatHacks</div>
            <div class="meta">
                <span class="category">Hackathon</span>
            </div>
        </div>
    </a>
</div>