<div id="admin" class="page">
    <div class="divided title">
        CREATE NEW EVENT
    </div>
    <div class="ui green segment" ng-class="{'loading': loading}">
        <div class="ui header">
            Basic Details
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input ng-model="title" name="title" placeholder="Title" type="text">
                </div>
                <div ng-if="imgPreview">
                    <img src="{{imgPreview}}">
                </div>
                <div class="field">
                  <button class="ui button" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    Select File</button>
                </div>
                <div class="field">
                    <label>Description</label>
                    <div class="field">
                        <textarea ng-model="description"></textarea>
                    </div>
                    <a class="ui button" ng-click="createEvent()" type="submit">Create Event</a>
            </form>
            </div>
        </div>
    </div>